### Quetion 1
## Write a Python program to add an item in a tuple.

In [7]:
tuple1 = 4,11,'November',2020 # Created a Tuple(While creating we can add element)
print(tuple1) #Prints the tuple
# Tuple are immutable data structure in Python, so we can not add or delete an item.
# But we can add an item in list and we can convert it to tuple
#Alternatively we can follow below
a = 'Add'#assign the item you wish to add to a variable
tuple1 = tuple1 + (a,)?#Use the + operator
print(tuple1)

(4, 11, 'November', 2020)
(4, 11, 'November', 2020, 'Add')

### Question 2
## Write a Python program to reverse a tuple.

In [42]:
Tuple2 = (5,10,15,20)
print(Tuple2)
Tuple2 = Tuple2[::-1]
print(Tuple2)

(5, 10, 15, 20)
(20, 15, 10, 5)

### Question 3
## Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

In [45]:
tuple1 = (11, 22) 
tuple2 = (99, 88)
print(tuple1,tuple2)
tuple1, tuple2 = tuple2, tuple1
print(tuple1,tuple2)

(11, 22) (99, 88)
(99, 88) (11, 22)

### Question 4
## Modify the first item (22) of a list inside a following tuple to
222
tuple1 = (11, [22, 33], 44, 55)

In [46]:
tuple1 = (11, [22, 33], 44, 55)
b=[222,33]
tuple1 = tuple1[:1] + (b,) + tuple1[2:] #Used another variable and slicing to achieve the motive
print(tuple1)
# another easy way
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)
(11, [222, 33], 44, 55)

### Question 5
## Write a Python program to unpack a tuple in several
variables

In [28]:
tuple1 = ('Somendra', 'Bagdogra', 'West Bengal', 'Infosys')
Name, City, State, Comp = tuple1
print(Name, City, State, Comp, sep="\n" )

Somendra
Bagdogra
West Bengal
Infosys

### Question 6
## Write a Python program to add member(s) in an empty set.

In [29]:
game_set = set()
game_set.add("Hockey")
print(game_set)

{'Hockey'}

### Quetion 7
## Write a Python program to create an intersection of sets

In [36]:
Set1 = {1,2,3,4}
Set2 = {2,3,4,5}
Set3 = Set1 & Set2
print(Set3)

{2, 3, 4}
{2, 3, 4}

### Question 8
## Write a Python program to create a symmetric difference in sets

In [38]:
Set1 = {1,2,3,4}
Set2 = {2,3,4,5}
Set4 = Set1 ^ Set2
print(Set4)

{1, 5}

### Question 9
## Return a set of identical items from a given two Python set

In [40]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1 & set2)

{40, 50, 30}

## Question 10
## Remove 10, 20, 30 elements from a following set at once

In [41]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{40, 50}

## Question 11
### Access value 20 from the following tuple

In [44]:
T = ("Pooja", [10, 20, 30], (25, 50, 15))
print(T[1][1])

('Pooja', [10, 20, 30], (25, 50, 15))
20

### Question 12
## Count the number of occurrences of item 50 from a tuple

In [47]:
numbers = (50, 10, 60, 70, 50)
print(numbers.count(50))

2